<div class="vh-100 vw-100">
  <%= render partial: 'admin/shared/nav' %>

  <div class="d-flex flex-row h-100 w-100">
    <%= render partial: 'admin/shared/side_nav' %>

    <div class="p-4 w-100 mb-4 overflow-scroll">
      <div class="d-flex flex-row justify-content-between align-items-center mx-2">
        <h3>Offer List</h3>
        <%= link_to 'Add new item', new_admin_offer_path, class: 'btn btn-primary' %>
      </div>

      <%= form_with(url: admin_offers_path, method: :get, class: 'mb-3') do |f| %>

          <div class="w-25">
            <%= f.label :status, class: 'form-label' %>
            <%= f.select :status, Offer.statuses.keys.map { |s| [s.humanize, s] }, { include_blank: true }, class: 'form-select' %>
          </div>
        <div class="">
        <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
      <% end %>



      <% if @offers.present? %>
        <div class="row row-cols-*">
          <% @offers.each do |offer| %>
            <%= render partial: 'admin/shared/offer_card', locals: { offer: offer } %>

          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

