<div class="h-100 w-100">
<%= render partial: 'admin/shared/nav' %>
<div class="d-flex flex-row h-100 w-100">
  <%= render partial: 'admin/shared/side_nav' %>


  <div class="p-4 w-80 font-monospace">
    <h3>Hi, <%= current_admin_user.username %>!</h3>

    <h4>List of client users (<%= User.client.count %>)</h4>
    <div class="w-100 border-bottom mb-2"></div>
    <div class="d-flex flex-column">
      <% @client_users.each_with_index do |client, index|%>
        <a class="form-control border nav-link mb-2 p-2 w-100" data-bs-toggle="collapse" href="#client_detail_<%= index + 1 %>" role="button" aria-expanded="false" aria-controls="collapseExample">
          <%= index + 1 %>. <%= client.email %>
        </a>

        <div class="collapse mb-2" id="client_detail_<%= index + 1 %>">
          <div class="card card-body flex-row column justify-content-between pe-4 border-1">
            <div class=" list-group d-flex flex">
              <li>Promoter: <%= client.parent.present? ? client.parent.email : "None" %></li>
              <li>Phone Number: <%= client.phone.present? ? client.phone : "None" %></li>
              <li>Total Deposit: <%= client.total_deposit %></li>
            </div>

            <div class=" list-group">
            <li>Children Members: <%= client.children_members.present? ? client.children_members : "None" %></li>
            <li>Member Total Deposits: <%= client.children.present? ? client.children_total_deposit : "None" %></li>
            </div>

            <div class="d-flex flex-column list-group">
              <li>Coins: <%= client.coins %></li>
              <li>Total Used Coins: Not yet supported</li>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>