<!-- app/views/admins/sign_in.html.erb -->
<%= form_tag(new_admin_user_session_path, method: :post) do %>
    <div class="mb-3">
      <%= label_tag :email, "Email address", class: "form-label" %>
      <%= email_field_tag :email, nil, class: "form-control", id: "exampleInputEmail1", aria: { describedby: "emailHelp" } %>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <%= label_tag :password, "Password", class: "form-label" %>
      <%= password_field_tag :password, nil, class: "form-control", id: "exampleInputPassword1" %>
    </div>
    <div class="mb-3 form-check">
      <%= check_box_tag :remember_me, 1, false, class: "form-check-input", id: "exampleCheck1" %>
      <%= label_tag :remember_me, "Check me out", class: "form-check-label", for: "exampleCheck1" %>
    </div>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>


