<div class="card">
  <div class="card-body">
    <div>Serial Number: <%= order.serial_number %></div>
    <div>Amount: <%= order.amount %></div>
    <div>Coins: <%= order.coin %></div>
    <div>Created at: <%= order.created_at %></div>
    <div>State: <%= order.state.humanize %></div>
    <span><%= button_to 'Cancel', order_history_path(order, commit: 'Cancel'), method: :patch, class: 'btn btn-sm btn-danger float-end' if order.submitted? %></span>
  </div>
</div>