<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<!--<title>૮₍ ˶ᵔ ᵕ ᵔ˶ ₎ა~ ~ </title>-->
<body>


<div>
  <p class="notice alert-danger"><%= notice %></p>
  <% if flash[:alert] %>
    <p class="alert alert-danger"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
